<body class = 'color'>
<h1>配色APP</h1>
<div>選択してください</div>
<%= button_to "選んでほしい", {controller: 'static_pages', action: 'random'}, {method: :get} %>
<%= button_to "試したい", {controller: 'static_pages', action: 'new'}, {method: :get} %>
</body>