<%= render 'share/nail' %>
</head>
<body class=nail onLoad="sample([[109, 109, 10], [109, 109, 109], [109, 109, 109], [109, 109, 109], [109, 109, 109]])">
<h2>これが良い！</h2>
<canvas id="nailcolor">
</canvas>
<br><%= link_to  "リロード", '#' %>
</body>
</html>