<%= render 'share/nail' %>
</head>
<body class=nail onLoad="sample(<%=@suggeColor%>)">
<%=@suggeColor%>
<h2>これが良い！</h2>
<canvas id="nailcolor">
</canvas>
<br><%= button_to "選んでほしい", {controller: 'static_pages', action: 'random'}, {method: :get} %>
</body>
</html>