<% Color.all.each do |color| %>
  <li>
    <div onLoad="displayColor("+<%color%>+")">
  </li>
<% end %>

<script type="text/javascript">
function displayColor(color) {
    cookies[:a]=color
    color = [[17,35,30],[187, 132,159],[216,177,166],[230,199,219],[240,238,239]]
   //描画コンテキストの取得
    var canvas = document.getElementById('nailcolor');
    if (canvas.getContext) {
        var context = canvas.getContext('2d');
        for(i=0;i<5;i++){
            //色を指定する
            context.beginPath();
            context.fillStyle = 'rgb('+color[i][0]+','+color[i][1]+','+color[i][2]+')';
            context.fillRect(50*i,40,30,0);
            context.ellipse(50*i, 40, 15, 20, 0, 0, 2 * Math.PI);
            context.ellipse(50*i, 61, 15, 10, 0, 0, 2 * Math.PI);
            context.fill();
        }
    }
}
</script>